---
export const prerender = false;
import Wrapper from "../layouts/Wrapper.astro";
import data from "../data/data.ts";
import { collectAll } from "../lib/utils";
import Item from "@/components/Item.astro";
import { Separator } from "@/components/ui/separator";
import Filter from "@/components/filter.astro";

const tags = collectAll(data, "tags");
const integrations = collectAll(data, "integrations");
const plans = collectAll(data, "plans");

const q = Astro.url.searchParams.get("q");
---

<Wrapper title="Home">
  <section class="my-20 w-full flex justify-center items-center flex-col">
    <h1 class="font-medium text-7xl mb-3">Welcome to Wave</h1>
    <p class="text-foreground/70">
      A currated collection of UI components and themes.
    </p>

    <Separator className="my-10" />

    <section class="w-full max-w-screen-2xl mx-auto mt-10">
      <div class="flex flex-col">
        <div class="flex gap-2 flex-wrap">
          {tags.map((tag) => <Filter val={tag} q={q} />)}
          {
            integrations.map((integration) => (
              <Filter val={integration} q={q} />
            ))
          }
          {plans.map((plan) => <Filter val={plan} q={q} />)}
        </div>
      </div>
    </section>

    <section class="grid grid-cols-3 gap-10 max-w-screen-2xl mx-auto mt-20">
      {
        data
          .filter((d) => {
            if (!q) return true;
            if (d.tags.includes(q)) return true;
            if (d.integrations?.includes(q)) return true;
            if (d.plans?.includes(q)) return true;
          })
          .map((item) => <Item item={item} />)
      }
    </section>
  </section>
</Wrapper>
