---
export const prerender = false;
import Wrapper from "../layouts/Wrapper.astro";
import data, { type Integrations, type Tags } from "../data/data.ts";
import { collectAll } from "../lib/utils";
import Item from "@/components/Item.astro";
import { Separator } from "@/components/ui/separator";
import Filter from "@/components/filter.astro";

const tags = collectAll(data, "tags");
const integrations = collectAll(data, "integrations");
const plans = collectAll(data, "plans");

const q = Astro.url.searchParams.get("q");
---

<Wrapper title="Home">
  <section class="my-20 w-full flex justify-center items-center flex-col px-4">
    <h1 class="font-medium lg:text-7xl text-3xl mb-3 text-center">
      Welcome to Wave
    </h1>
    <p class="text-foreground/70 text-center">
      A currated collection of UI components and themes.
    </p>

    <div
      class="mt-8 flex-col md:flex-row border border-border py-2 px-6 pr-2 rounded-lg md:rounded-full flex items-center md:gap-8 gap-2 w-full max-w-lg justify-between bg-gray-50"
    >
      <p class="text-foreground">Am I missing something?</p>

      <a
        href="https://github.com/tyrelchambers/wave/issues"
        target="_blank"
        class="bg-foreground hover:bg-foreground/80 text-background text-sm px-3 py-2 rounded-full"
        >Open an issue!</a
      >
    </div>

    <Separator className="my-10" />

    <section class="w-full max-w-screen-2xl mx-auto mt-10 px-4">
      <div class="flex flex-col">
        <div class="flex gap-2 flex-wrap">
          {tags.map((tag) => <Filter val={tag} q={q} />)}
          {
            integrations.map((integration) => (
              <Filter val={integration} q={q} />
            ))
          }
          {plans.map((plan) => <Filter val={plan} q={q} />)}
        </div>
      </div>
    </section>

    <section
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 max-w-screen-2xl mx-auto mt-20"
    >
      {
        data
          .filter((d) => {
            if (!q) return true;
            if (d.tags.includes(q as Tags)) return true;
            if (d.integrations?.includes(q as Integrations)) return true;
            if (d.plans?.includes(q)) return true;
          })
          .map((item) => <Item item={item} />)
      }
    </section>
  </section>
</Wrapper>
