---
import { Badge } from "@/components/ui/badge";
import ItemImage from "./item-image.astro";
import NoItemImage from "./no-item-image.astro";
import type { Data } from "@/data/data";

interface Props {
  item: Data;
}
const { item } = Astro.props;
---

<a
  href={item.url}
  class="hover:scale-[102%] hover:shadow-md transition-all duration-300 w-full block bg-gray-50 overflow-hidden rounded-2xl"
>
  <div class="relative h-[225px] flex image-wrapper overflow-hidden">
    {item.image && <ItemImage image={item.image} />}
  </div>

  <div class="content p-8 h-full -mt-20 z-30 relative">
    <h2 class="font-medium text-xl mt-4">{item.name}</h2>
    <p class="text-foreground/50 mt-3 text-sm">{item.description}</p>
    <div class="flex flex-wrap gap-2 mt-4">
      {
        item.tags.length > 0 &&
          item.tags.map((tag) => (
            <Badge className="rounded-full" variant="default">
              {tag}
            </Badge>
          ))
      }
    </div>

    {
      item.integrations && (
        <div class="flex flex-wrap gap-2 mt-4">
          {item.integrations.length > 0 &&
            item.integrations?.map((int) => (
              <Badge className="rounded-full" variant="secondary">
                {int}
              </Badge>
            ))}
        </div>
      )
    }

    <div class="flex flex-wrap gap-2 mt-4">
      {
        item.plans &&
          item.plans.length > 0 &&
          item.plans?.map((price) => (
            <Badge className="rounded-full" variant="outline">
              {price}
            </Badge>
          ))
      }
    </div>
    {item.logo && <img src={item.logo} class="w-32 mt-6" />}
  </div>
</a>
